@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  font-size: 24px;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 35, 35, 35;
  --background-end-rgb: 35, 35, 35;

  --bg: linear-gradient(rgb(145, 170, 207), rgb(145, 170, 207));
  --fg: #17181c;
  --primary1: #255ff4;
  --primary2: #5583f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 35, 35;
    --background-end-rgb: 35, 35, 35;
  }
}

@font-face {
  font-family: 'poppins-simi';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clock::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 4px;
  height: 4px;
  z-index: 100;
  box-shadow: 0 0.5px 0.5px rgba(255, 255, 255, 0.3) inset,
    0 -0.5px 0.5px rgba(0, 0, 0, 0.3) inset,
    0 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.clock::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: rgb(226, 214, 214);
  box-shadow: 0 0 2px 2px rgb(0, 0, 0) inset,
    0 -2px 4px 2px rgba(0, 0, 0, 0.8);
  z-index: -99;
}

.hour-pointer,
.minitue-pointer,
.second-pointer {
  display: flex;
  justify-content: center;
  position: absolute;
}

.hour-pointer:before,
.minitue-pointer:before,
.second-pointer:before {
  box-shadow: 2px -0.6px 2px rgba(255, 255, 255, 0.1) inset,
    2px 0.5px 2px rgba(0, 0, 0, 0.2) inset,
    -3px 10px 10px rgba(0, 0, 0, 0.3);
}

.hour-pointer:before {
  content: '';
  z-index: 10;
  background: var(--primary1);
  border-radius: 2px;
  width: 4px;
  height: 12px;
}

.minitue-pointer:before {
  content: '';
  z-index: 11;
  background: var(--primary2);
  border-radius: 2px;
  width: 3px;
  height: 12px;
}

.second-pointer:before {
  content: '';
  z-index: 12;
  background: var(--fg);
  border-radius: 2px;
  width: 2px;
  height: 12px;
}