@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 236, 238, 238;
  --foreground-rgb: 0, 0, 0
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to left, 
      transparent,
      rgb(var(--background-end-rgb)) 0,
      rgb(var(--background-end-rgb)) 35%,
      rgb(var(--background-start-rgb))
  );
}

@font-face {
  font-family: 'poppins-simi';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
