@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins-simi';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}